:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #222a21;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
}

:root {
  --neutral-100: #ffffff;
  --neutral-900: #212722;
  --brand-500: #64cc96;
  --brand-400: #92dbb7;
  --brand-200: #d1f0e0;
  --brand-100: #e6f8ed;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

button {
  font: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

button:focus-visible, a:focus-visible {
  outline: 2px solid #00bcd0;
  outline-offset: 5px;
}

button, h1, p {
  margin: 0;
}
